
<div class="modal">
<mat-card class="card toDo">
  <h2>Ajouter une nouvelle tache</h2>
  <form>
    <div class="flex">
        <mat-form-field class="example-full-width" class="input">
          <input matInput [(ngModel)]="todo.title"  name="task" placeholder="Nouvelle tâche">
        </mat-form-field>
    </div>
    <button mat-raised-button color="accent" class="addDescriptionBtn" *ngIf="!displayDescription" (click)="showInputDescription()">Ajouter une description</button>
    <mat-form-field class="description" *ngIf="displayDescription">
      <textarea matInput [(ngModel)]="todo.description" name="description" placeholder="Description" name="description"></textarea>
    </mat-form-field>
    <mat-select multiple class="select" placeholder="Catégorie" [(ngModel)]="todo.tags" name="tags">
      <mat-option *ngFor="let tag of tags" [value]="tag">
        {{tag.name}}
      </mat-option>
    </mat-select>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addToDo()">Ajouter</button>
      <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
    </mat-card-actions>
  </form>
</mat-card>
</div>
