<mat-card class="card">
  <mat-card-header class="header flex" >
    {{todo.title}}
    <span *ngIf="todo.urgent" class="urgent"> Urgent</span>
  </mat-card-header>
    <mat-card-content>
      <div class="flex absolute">
        <div *ngFor="let tag of todo.tags">
          <app-tags [tag]="tag"></app-tags>
        </div>
        <mat-icon class="deleteCompleted" (click)="editTask()">edit</mat-icon>
        <mat-icon class="deleteCompleted" (click)="deleteTask()">delete</mat-icon>
      </div>
      <p *ngIf="todo.description">{{todo.description}}</p>
      <p *ngIf="todo.dueDate">Date limite: {{todo.dueDate | date:'dd MMMM'}}</p>
      <mat-slide-toggle class="absolute bottom" [(ngModel)]="todo.completed"></mat-slide-toggle>
    </mat-card-content>
</mat-card>
<div *ngIf="showEdit">
  <app-todo-input (hideEditToDo)="hideEditToDo($event)" [todo]="todo"></app-todo-input>
</div>
