.addTaskBtn {
  background-color: #fff !important;
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 2rem;
}

.centerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
